$container:992px;

h2, h3, h4, h5{
    margin: 10px 0;
    text-transform: uppercase;
}

h4 {
    font-weight: 700;
}

h2 {
    font-size: 2.5em;
    font-weight: 400;
    @include breakpoint(lg_tablet tablet nav) {
        font-size: 2em;
    }
    @include breakpoint(mobile) {
        font-size: 1.75em;
    }
}
h3 {
    font-size: 1.250em;
    font-weight: 400;
    @include breakpoint(mobile) {
        font-size: 1.125em;
    }
}
h4 {
    font-size: 1.125em;
}

p {
    font-size: .938em;
    margin: 0 0 25px;
    
    &.last {
        margin: 0;
    }
}
    
.sup{
    //font-size: .5em;
    font-size: smaller;
    vertical-align: top;
}

.strong {
    font-weight: 700;
}

.no-caps {
    margin: 0 0 25px;
    text-transform: none;
}

a {
    color: $font;
    text-decoration: none;
}

.row {
    @include row();
}

.big {
    font-size: 1.375em;
}

.clearboth {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.ie {
    display: none;
    @include old-ie() {
        display: block;
    }
}
.no-ie {
    display: block;
    @include old-ie() {
        display: none;
    }
}