.footer{
    background-color: darken($base, 16);
    height: 75px; // so it ligns up with the footer in the side menu
    text-align: center;
    
    @include breakpoint(lg_tablet nav mobile tablet) {
        height: auto;
        padding-bottom: 50px;
    }
    
    ul {
        padding: 25px 10px;
        
        li {
            border-right: 1px solid #fff;
            display: inline;
            line-height: 1.5em;
            padding: 0 10px;
            
            a {
                color: #fff;
            }
            
            &.last {
                border-right: none;
            }
        }
    }
    
}