$path: 'http://usarmy.vo.llnwd.net/e2/rv5_images/birthday/2015/';

$grabbing: $path + 'grabbing.png';
$sprite: $path + 'army_birthday_sprite.png';

$ajax_loader_gif: $path + 'ajax_loader.gif';

$arrow_left_svg: $path + 'arrow_left.svg';
$arrow_right_svg: $path + 'arrow_right.svg';
$arrow_up_svg: $path + 'arrow_up.svg';
$arrow_down_svg: $path + 'arrow_down.svg';

$close_svg: $path + 'close.svg';
$close_dark_svg: $path + 'close_dark.svg';

$download_white_svg: $path + 'download_white.svg';
$download_svg: $path + 'download.svg';

$revolutionary_war: $path + 'revolutionary_war.jpg';

$diagonal: $path + 'diagonal_line_bkgd.png';

$lightbox_bkgd: $path + 'bg.png';

$magnify_glass_svg: $path + 'magnify_glass.svg';
$sm_magnify_glass_svg: $path + 'magnify_glass_small.svg';

$quiz_png: $path + 'quiz.png';
$quiz_svg: $path + 'quiz.svg';
$quiz_mobile_png: $path + 'quiz_mobile.png';
$quiz_mobile_svg: $path + 'quiz_mobile.svg';

$news_img: $path + 'news.jpg';

$bday_logo_no_ribbon_png: $path + '240_army_birthday_logos/240_army_birthday_logo_no_ribbon.png';
$bday_logo_no_ribbon_svg: $path + '240_army_birthday_logos/240_army_birthday_logo_no_ribbon.svg';

$bday_logo_png: $path + '240_army_birthday_logos/240_army_birthday_logo.png';
$bday_logo_svg: $path + '240_army_birthday_logos/240_army_birthday_logo.svg';

$bday_stacked_logo_png: $path + '240_army_birthday_logos/240_army_birthday_stacked_logo.png';
$bday_stacked_logo_svg: $path + '240_army_birthday_logos/240_army_birthday_stacked_logo.svg';
//$bday_stacked_logo_svg: $path + '240_army_birthday_logos/240_army_birthday_stacked_logo_test.svg';
