#lightbox {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
    padding-left: 300px;
    text-align:center;
    right: 0;
	height: 100%;
    @include breakpoint(really_big) {
        padding-right: 460px;
    }
    @include breakpoint(lg_tablet tablet mobile nav) {
        padding-left: 0;
    }
	@include yep('rgba') {
		background-color:transparentize(darken($base, 31), 0.5);
	}
	@include nope('rgba') {
		background-image: url($lightbox_bkgd);
        background-repeat: repeat-x repeat-y;
	}
    @include breakpoint(nav mobile) {
        -webkit-backface-visibility: hidden; // android has an issue with fixed position elements
    }
	
	z-index: 999999;
	overflow-y: scroll;
        
    .outer-container {
        @include lightbox_span(10);
        float: none;
        margin: 50px auto;
        overflow: hidden;
        padding: 0;
        position: relative;
        
        @include breakpoint(lg_tablet tablet) {
            margin-bottom: 75px;
            margin-top: 0;
        }
        @include breakpoint(nav mobile) {
            @include row();
            margin: 0 0 75px 0;
        }
    
        .inner-container {
            @include stripes();
            @include lightbox_span(12);
            padding-bottom: 50px;
            padding-top: 30px;
            text-align: left;
            
            @include breakpoint(lg_tablet tablet nav mobile) {
                position: relative;
                padding-top: 80px;
            }
            
            .owl-container {
                @include lightbox_span(12);
            }
            
            .item {
                margin: 0 20px;
                &.no-mq {
                    float: left;
                }
                
                img {
                    display: block;
                    width: 100%;
                    -webkit-transform-style: preserve-3d;
                }
                
                .view-caption {
                    border-bottom: 1px solid $base;
                    cursor: pointer;
                    display: none;
                    margin: 0 0 20px;
                    padding: 20px 0;
                    text-transform: uppercase;
                    
                    @include breakpoint(lg_tablet tablet nav mobile) {
                        display: block;
                    }
                }
            }
            
            .caption {
                @include breakpoint(lg_tablet tablet nav mobile) {
                    display: none;
                    padding: 0;
                    width: auto;
                }
                .padded-container {
                    margin: 0 20px;
                }
                @include lightbox_span(12);
//                float: left;
                margin-top: 27px;
            }
            
            h3 {
                margin: 0;
            }
                        
            p, h3 {
                float: left;
                @include old-ie() {
                    &.img-title {
                        float: none;
                    }
                    &.no-mq{
                        &.img-download {
                            border-bottom: 1px solid $base;
                        }
                        padding: 0 0 20px;
                    }
                }
                &.img-cutline {
                    margin-bottom: 15px;
                    margin-top: 12px;
                }
                &.img-download {
                    padding-bottom: 20px;
                    position: relative;
                    
                    @include breakpoint(sm_desktop desktop large) {
                        padding-bottom: 0;
                    }
                    @include breakpoint(lg_tablet tablet nav mobile) {
                        border-bottom: 1px solid $base;
                        width: 100%;
                    }
                    a {
                        float: left;
                    }
                    .download {
                        background-repeat: no-repeat;
                        display: block;
                        float: left;
                        height: 15px;
                        margin-right: 10px;
                        margin-top: 1px;
                        width: 15px;
    
                        @include yep('svg') {
                            background-image: url($download_svg);
                        }
                        @include nope('svg') {
                            background-image: url($sprite);
                            background-position: -10px -42px;
                        }
                    }
                }
                
                &.intro-p {
                    @include lightbox_span(12);
                    float: none;
                    font-size: 2.5em;
                    width: auto;
                    
                    @include breakpoint(nav mobile) {
                        font-size: 1.6em;
                    }
                }
            }
            
            .close-area {
                bottom: 0;
                cursor: pointer;
                display: none;
                height: 150%;
                position: absolute;
                right: 0;
                width: 47%;
                @include breakpoint(lg_tablet tablet nav mobile) {
                    display: block;
                }
            }
            .close {
                background-repeat: no-repeat;
                float: right;
                height: 15px;
                margin-top: 20px;
                width: 14px;
                
                @include yep('svg') {
                    background-image: url($close_dark_svg);
                    height: 20px;
                    width: 20px;
                }
                @include nope('svg') {
                    background-image: url($sprite);
                    background-position: -41px -44px;
                }
            }
            
            #army-quiz {
                @include row();
                @include breakpoint(tablet nav mobile) {
                    float: left;
                }
                
                .question-container {
                    @include row();
                    @include breakpoint(tablet nav mobile) {
                        @include lightbox_span(12);
                        width: auto;
                    }
                    
                    .question {
                        float: left;
                        margin: 20px 0;
                        @include lightbox_span(12);
                        @include breakpoint(tablet nav mobile) {
                            padding: 0;
                            width: 100%;
                        }
                    }
                    
                    .answer-container {
//                        @include lightbox_span(6);
//                        @include breakpoint(sm_desktop desktop lg_tablet) {
                            @include lightbox_span(12);
//                        }
                        @include breakpoint(tablet nav mobile) {
                            padding: 0;
                            width: 100%;
                        }
                        margin: 6px 0;
                        
                        &.half-w-container {
                            @include lightbox_span(6);
                            @include breakpoint(tablet nav mobile) {
                                padding: 0;
                                width: 100%;
                            }
                        }
                        
                        div {
                            background-color: $background;
                            border: 2px solid $background;
                            cursor: pointer;
                            float: left;
                            width: 99%;
                            
                            &.checked {
                                border: 2px solid darken($base, 25);
                            }
                            &.correct {
                                border: 2px solid $quiz_green;
                                &:hover, &:focus{
                                    border: 2px solid $quiz_green;
                                }
                            }
                            &.incorrect {
                                border: 2px solid $quiz_red;
                                &:hover, &:focus{
                                    border: 2px solid $quiz_red;
                                }
                            }
                            
                            &:hover, &:focus{ 
                                border: 2px solid darken($base, 25);
                            }
                        }
                                                
                        label {
                            cursor: pointer;
                            float: left;
                            padding: 20px 10px;
                            
                            input[type="radio"] {
                                display: none;
                            }
                            input[type="radio"] + span {
                                background-color: $background;
                                border: 2px solid darken($base, 25);
                                -moz-border-radius: 50%;
                                border-radius: 50%;
                                cursor: pointer;
                                float: left;
                                height: 15px;
                                vertical-align: middle;
                                width: 15px;
                            }
                            input[type="radio"]:checked + span {
                                background-color: $base;
                            }
                            input[type="radio"] + span.checked {
                                background-color: $base;
                            }
                            input[type="radio"] + span.correct {
                                background-color: $quiz_green;
                                border-color: $quiz_green;
                            }
                            input[type="radio"] + span.incorrect {
                                background-color: $quiz_red;
                                border-color: $quiz_red;
                            }
                        }
                        
                        p {
                            @include lightbox_span(10);
                            padding-bottom: 20px;
                            padding-top: 20px;
                            margin: 0;
                        }
                    }
                }
                
                .num-correct {
                    @include lightbox_span(12);
                    display: none;
                    margin: 50px 0 0;
                    
                    .y-container {
                        background-color: $yellow;
                        border: 1px solid $dark_yellow;
                        float: left;
                        padding: 10px;
                        h3 {
                            padding-right: 10px;
                            text-transform: none;
                        }
                    }
                    
                    @include old-ie() {
                        a {
                            border-bottom: 1px solid darken($base, 25);
                        }
                    }
                    
                    iframe, a {
                        vertical-align: bottom;
                    }
                }                
            }
            
            .submit-button {
                @include lightbox_span(12);
                cursor: pointer;
                margin: 50px 0;
                text-align: center;
                
                div {
                    background-color: darken($base, 25);
                    color: white;
                    padding: 20px 0;
                    
                }
            }
        }
        
        .lightbox-header-wrap {
            @include row();
            position: relative;
            
            @include breakpoint(lg_tablet tablet) {
                position: fixed;
                width: inherit;
                z-index: 9999;
            }
            
            @include breakpoint(nav mobile) {
                left: 0;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 9999;
                -webkit-backface-visibility: hidden; // android has an issue with fixed position elements
            }
            
            .lightbox-header {
                background-color: lighten($base, 20);
                border-bottom: 1px solid darken($base, 25);
                display: table;
                float: left;
                height: 50px;
                width: 100%;
                
                @include old-ie() {
                    height: 50px;
                    position: relative;
                }
                
                .inner-wrap {
                    @include lightbox_span(12);
                    display: table-cell;
                    float: none;
                    vertical-align: middle;
                    width: auto;
                }
                
                h2 {
                    @include lightbox_span(12);
                    font-size: 1.375em;
                    line-height: .9;
                    text-align: left;
                    width: auto;
                    
                    // ie7 has an issue with float: left and margin-bottom... so i changed the margins to 0 and added padding instead. lesson learned.
                    @include old-ie() {
                        float: left;
                        // padding-top: 15px;
                        // padding-bottom: 15px;
                    }
                    
                    @include breakpoint(nav mobile) {
                        font-size: 1em; // used to be 1.2em....shh don't tell melissa
                    }
                }
            }
        }
        
		.lightbox-button-wrap {
            height: 100%;
			position: absolute;
			width: 50px;
            
            @include old-ie() {
                top: 0;
            }
            
            &.lightbox-close-wrap {
                background-color: darken($base, 16);
            }
            
            &.lightbox-button-wrap-right {
                right: 0;
            }
            &.lightbox-button-wrap-left {
                left: 0;
            }
			.lightbox-buttons {
                //position:fixed;
                height: 100%;
                
                &.bottom-lightbox-buttons {
                    display: block;
                    position: absolute;
                    top: 200px;
                }
				
				.lightbox-button {
					cursor: pointer;
					display: block;
					height: 100%;
					overflow: hidden;
                    width: 50px;
					.button-icon {
						display: block;
						
                        &#button-icon-close {
                            height: 20px;
                            margin: 15px auto;
                            width: 20px;
                            @include yep('svg') {
                                background-image: url($close_svg);
                                background-repeat: no-repeat;
                                width: 17px;
                            }
                            @include nope('svg') {
                                background: url($sprite) no-repeat center center;
                                background-position: -21px -42px;
                            }
    					}
                        &#button-icon-prev {
                            position: absolute;
                            right: 0;
                            width: 18px;
                            @include yep('svg') {
                                background-image: url($arrow_left_svg);
                                height: 42px;
                            }
                            @include nope('svg') {
                                background-image: url($sprite);
                                background-position: 0 0;
                                background-repeat: no-repeat;
                                height: 43px;
                            }
                        }
                        &#button-icon-next {
                            position: absolute;
                            left: 0;
                            width: 18px;
                            @include yep('svg') {
                                background-image: url($arrow_right_svg);
                                height: 42px;
                            }
                            @include nope('svg') {
                                background-image: url($sprite);
                                background-position: -19px 0;
                                background-repeat: no-repeat;
                                height: 43px;
                            }
                        }
					}
				}
			}
		}
    }
}