.key-msg-evts {
    border-bottom: 1px solid lighten($base, 10);
    border-top: 1px solid lighten($base, 10);
    
    @include stripes();
    
    @include breakpoint(really_big) {
        @include yep('cssgradients') {
            background: $background;
            border-top: none;
        }
        @include nope('cssgradients') {
            background: $background;
            background-image: none;
        }
    }
    
    .evt-container {
        @include row();
        @include breakpoint(nav) {
            padding-left: 10px;
            padding-right: 10px;
            width: 97%;
        }
        @include breakpoint(mobile) {
            padding-left: 10px;
            padding-right: 10px;
            width: 95%;
        }
        // uncomment this when we put back the Senior Leader Messages section
//        @include breakpoint(sm_desktop lg_tablet nav tablet mobile) {
//            padding-top: 0;
//        }
        .evt {
            @include span(6);
            margin-top: 15px;
            &.first, &.second {
                margin-top: 0;
            }
            @include breakpoint(nav mobile) {
                //@include span(12);
                padding: 0;
                width: 100%;
                margin-top: 15px;
                &.second {
                    margin-top: 15px;
                }
            }
            
            .date {
                background-color: darken($base, 26);
                float: left;
                padding: 36px 10px;
                text-align: center;
                @include breakpoint(nav mobile) {
                    padding: 28px 10px;
                }
                h3 {
                    color: #fff;
                    margin: 0;
                    
                    &.day {
                        font-size: 3em;
                    }
                }
            }
            
            h3, p {
                line-height: 1em;
            }
            
            .details-container {
                background-color: $background;
                border: 1px solid darken($base, 26);
                height: 142px;
                width: 100%;
                @include breakpoint(nav mobile) {
                    height: 125px;
                }
                @include breakpoint(really_big) {
                    @include stripes();
                }
            }
            
            .taller {
                @include breakpoint(nav) {
                    height: 190px;
                }
                @include breakpoint(mobile) {
                    height: 268px;
                }
                .date {
                    @include breakpoint(nav) {
                        padding: 60px 10px;
                    }
                    @include breakpoint(mobile) {
                        padding: 99px 10px;
                    }
                }
            }
            
            .evt-details {
                padding: 10px;
                overflow: hidden;
                
                @include breakpoint(nav mobile) {
                    &.mobile-nav {
                        border-top: 1px solid darken($base, 26);
                    }
                }
                
                h3, p {
                    line-height: 1.4em;
                    margin: 0;
                }
                
                h3 {
                    font-size: .938em;
                    font-weight: 700;
                    
                    a:hover,a:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    
    #senior-leader-quotes {
        @include span(12);
        border-bottom: 1px solid lighten($base, 10);
        border-top: 1px solid lighten($base, 10);
        padding: 30px 0;
        
        .quote-wrap {
            position: relative;
            
            .quote-img-wrap {
                float: left;
                padding: 0;
                
                .quotation {
                    width: 60px;
                    @include breakpoint(nav mobile) {
                        width: 50px;
                    }
                }
            }
            
            .quote {
                padding-left: 75px;
                padding-right: 160px;
                width: auto;
                
                @include breakpoint(lg_tablet tablet nav mobile) {
                    padding-right: 0;
                }
                
                @include breakpoint(nav mobile) {
                    padding-left: 65px;
                }
                
                h3 {
                    font-size: 1.876em;
                    line-height: 1.25;
                    margin: 0 0 15px;
                    text-transform: none;
                    @include breakpoint(nav mobile) {
                        font-size: 1.4em;
                    }
                }
                
                p {
                    margin: 0;
                }
            }
            .senior-leader-img {
                float: left;
                position: absolute;
                right: 0;
                top:0;
                width: 150px;
                img {
                    width: 100%;
                }
                @include breakpoint(lg_tablet tablet nav mobile) {
                    display: none;
                }
            }
        }
    }
}