.news-box {
    @include span(12);
    background-color: $background;
    // margin: 0 1.00806%;
    min-height: 150px;
    // padding: 0;
    position: relative;
    
    @include breakpoint(nav) {
        padding: 0 10px;
        width: 97%;
    }
    @include breakpoint(mobile) {
        padding: 0 10px;
        width: 95%;
    }
    
    .news-overlay {
        background-color: #ddd;
        height: 100%;
        left: 1.00806%;
        right: 1.00806%;
        position: absolute;
        top: 0;
        // width: 100%;
        z-index: 1;
        @include breakpoint(nav mobile) {
            left: 10px;
            right: 10px;
        }
    }
    
    .image-container {
        @include span(7);
        .image {
            background-repeat: no-repeat;
            
            @include yep('backgroundsize') {
                background-size: cover;
                background-position: center center;
            }
        }
        img {
            width: 100%;
            &.ie{
                height: 100%!important;
                width: 100%!important;
            }
        }
        .caption {
            bottom: 0;
            left: 0;
            max-height: 150px;
            position: absolute;
            width: 100%;
            
            p {
                line-height: 1.2;
                margin: 0;
                padding: 20px 14px;
                @include breakpoint(lg_tablet) {
                    font-size: 1.25em;
                }
                @include breakpoint(mobile) {
                    font-size: 1.125em;
                }
            }
            
            @include yep('rgba') {
                background-color:transparentize($base, 0.3); // 0.3 generates 0.7 ... ok
            }
            @include nope('rgba') {
                background-color: $base;
            }
        }
        
        @include breakpoint(lg_tablet tablet nav) {
            display: none;
        }
        
        @include breakpoint(mobile) {
            @include row();
            padding: 0;
        }
    }
    
    .tablet-top-stories {
        display: none;
        
        @include breakpoint(lg_tablet tablet nav) {
            display: block;
            @include row();
            padding-bottom: 30px;
            
            .story {
                line-height: 1.15;
                @include span(4);
                
                img {
                    height: 100%!important;
                    margin-bottom: 10px;
                    width: 100%!important;
                }
                
                a {
                    font-size: .813em;
                }
            }
        }
    }
    
    .top-stories {
        //background-color: $base;
        font-size: 1em;
        height: 100%;
        line-height: 1.3em;
        @include span(5);
        //padding:0;
        position: relative;
        //overflow-y:scroll;
        //left: 64%;
        right:0;
        top:0;
        
        p.top-stories-header, ul li{
            margin: 0;
            padding: 10px 0 10px 10px;
        }
        p.top-stories-header {
            background-color: lighten($base, 10);
            font-weight: 700;
            position: absolute;
            text-transform: uppercase;
            left: 0;
            right: 0;
            top: 0;
        }
        ul {
            background-color: $background;
            border-bottom: 1px solid lighten($base, 10);
            border-right: 1px solid lighten($base, 10);
            font-size: 0.8em;
            height: 100%;
            overflow-y: scroll;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            
            @include breakpoint(lg_tablet tablet mobile nav) {
                border-bottom: none;
                border-right: none;
                overflow-y: auto;
                position: relative;
                
                li {
                    display: none;
                    
                    &.visible {
                        display: block;
                    }
                }
            }
        }
        @include breakpoint(sm_desktop desktop large really_big) {
            ul::-webkit-scrollbar {
                width: 12px;
            }
            ul::-webkit-scrollbar-track {
                background-color: lighten($base, 20);
                border-left: 1px solid $base;
            }
            ul::-webkit-scrollbar-thumb {
                background-color: lighten($base, 10);
            }
            ul::-webkit-scrollbar-thumb:hover {
                background-color: $base;
            }
        }
        li {
            border-top: 1px solid lighten($base, 10);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            
            img {
                display: none;
            }
            
            @include breakpoint(lg_tablet tablet mobile nav) {
                min-height: 50px;
                a.title-url, a.img-url img {
                    display: block;
                    float: left;
                }
                a.title-url {
                    overflow: hidden;
                    padding-left: 10px;
                    padding-top: 5px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 70%;
                }
                a.img-url {
                    img {
                        height: 50px;
                        width: 75px;
                    }
                }
            }
//            @include breakpoint(lg_tablet tablet nav) {
//                &.first {
//                    border-top: 1px solid lighten($base, 10);
//                }
//            }
//            @include breakpoint(lg_tablet tablet mobile nav) {
//                &.last {
//                    border-bottom: none;
//                }
//            }
            &:hover, &:focus {
                background-color: lighten($base, 20);
            }
            
        }
        a {
            color: $font;
        }
        
        @include breakpoint(lg_tablet tablet mobile nav) {
            left: 0;
            padding: 0;
            position:inherit;
            @include row();
            p.top-stories-header {
                display: none;
            }
            .more {
                border-right: none;
                position: inherit;
            }
        }
    }
}