#products {
    border-bottom: 1px solid lighten($base, 10);
    border-top: 1px solid lighten($base, 10);
    @include stripes();
    
    @include breakpoint(really_big) {
        display: none;
    }
    
    .product-wrap {
        @include row();
        @include breakpoint(lg_tablet tablet nav mobile) {
            @include span(12);
        }
    }
}

.product-wrap, .side-product-slides {
    .item {
        margin-right: 5px;
        position: relative;
        
        img {
            border: 1px solid lighten($base, 10);
            width: 100%;
        }
        
        a {
            bottom: 6px;
            color: #fff;
            font-size: .813em;
            left: 0;
            padding: 10px;
            position: absolute;
            right: -1px;
            
            @include old-ie() {
                bottom: 0;
            }
            
            @include yep('rgba') {
                background-color: transparentize(darken($base, 10), 0.3);
            }
            @include nope('rgba') {
                background-color: darken($base, 26);
            }
            
            .download {
                background-repeat: no-repeat;
                display: block;
                float: left;
                height: 13px;
                margin-right: 3px;
                margin-top: 4px;
                width: 13px;
                
                @include yep('svg') {
                    background-image: url($download_white_svg);
                }
                @include nope('svg') {
                    background-image: url($sprite);
                    background-position: 2px -42px;
                }
            }
        }
        
        @include breakpoint(sm_desktop desktop large really_big) {
            &:hover, &:focus {
                a {
                    @include yep('rgba') {
                        background-color: inherit;
                    }
                    z-index: 1;
                }
                .product-overlay {
                    @include yep('rgba') {
                        background-color: transparentize(darken($base, 10), 0.3);
                    }
                    bottom: 6px;
                    left: 0;
                    position: absolute;
                    right: -1px;
                    top: 0;
                }
            }
        }
    }
}
