.primary-side-menu {
    background-color: $base;
    // @include span(3);
    float: left;
    position: fixed;
    height: 100%;
    // width: 25.1451%; // 22.9839 + (1.0806 * 2)
    width: 300px;
    
    @include breakpoint(lg_tablet tablet mobile nav) {
        display: none;
    }
    
    .flex-fixed-menu {
        border-bottom: 1px solid lighten($base, 10);
        border-right: 1px solid lighten($base, 10);
        cursor: pointer;
        display: none;
        @include stripes();
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 11;

        p {
            margin: 0;
            color: $font;
            padding: 14px 10px;
            text-transform: uppercase;

            span {
                @include yep('svg') {
                    background-image: url($arrow_down_svg);
                }
                @include nope('svg') {
                    background-image: url($sprite);
                    background-position: -54px -43px;
                }
                background-repeat: no-repeat;
                display: inline-block;
                height: 12px;
                margin-left: 10px;
                width: 19px;

                &.up {
                    @include yep('svg') {
                        background-image: url($arrow_up_svg);
                    }
                    @include nope('svg') {
                        background-image: url($sprite);
                        background-position: -73px -43px;
                    }
                }
            }
        }
    }
    
    .bday-logo {
        padding: 30px 20px 0;
        position: relative;
        
        img {
            width: 100%;
        }
        
        a {
            height: 29%;
            position: absolute;
            right: 0;
            top: 0;
            width: 24%;
            z-index: 1;
            
            @include old-ie() {
                height: 26%;
                right: 20px;
                top: 30px;
                width: 21%;
            }
        }
        
        @include yep('svg') {
            margin: 30px 10px 0;
            padding: 0 0 100%;
        }
        
        .stacked-logo {
            background-repeat: no-repeat;
            width: 100%;
            @include yep('svg') {
                background-image: url($bday_stacked_logo_svg);
                background-size: contain;
                height: 100%;
                position: absolute;
            }
            @include nope('svg') {
                background-image: url($bday_stacked_logo_png);
                height: 276px;
            }
        }
        
        &.flex-logo {
            margin-top: 80px;
        }
    }
    
    ul {
        margin-top: 25px;
        width: 100%;
        
        li {
            line-height:1.5em;
            
            a {
                color: $font;
                display: block;
                font-size: 1.25em;
                padding: 14px 10px;
                margin-left: 10px;
                text-transform: uppercase;
            }
            
            &:hover, &:focus, &.active {
                background-color: darken($base, 26);
                a {
                    background-color: lighten($base, 20);
                }
            }
        }
        @include breakpoint(really_big) {
            li:nth-child(5) {
                display: none;
            }
        }
        
        &.flex-list {
            background-color: $base;
            border-right: 1px solid lighten($base, 10);
            height: 100%;
            left: 0;
            margin-top: 0;
            position: fixed;
            right: 0;
            top: -2000px;
            li {
                line-height:1.5em;
        
                a {
                    color: $font;
                    display: block;
                    padding: 14px 10px;
                    text-transform: uppercase;
                }
            }
            
            @include yep('csstransitions') {
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                z-index: 10;
            }
            &.vis {
                top: 50px;
            }
        }
    }
    
    .footer{
        border-right: 1px solid lighten($base, 10);
        border-top: 1px solid lighten($base, 10);
        @include stripes();
        bottom: 0;
        height: 75px;
        left: 0;
        position: absolute;
        right: 0;
        text-align:center;
        z-index: 10;
        
        .at {
            padding: 20px 0;
        }
    }
    
}

.secondary-side-menu {
    @include stripes();
    border-left: 1px solid lighten($base, 10);
    display: none;
    overflow: auto;
    position: absolute;
    right: 0;
    top:0;
    width: 460px;
    z-index: 2;
    
    @include breakpoint(really_big) {
        display: block;
    }
    
    h3 {
        float: left;
        font-weight: normal;
        margin: 0;
        padding: 30px 0;
    }
    
    .side-container {
        float: left;
        padding: 0 30px 20px;
        
        &.last {
            border-top: 1px solid lighten($base, 10);
        }
    }
    
    .bday-images {
        float: left;
        padding: 50px 0 0;
        .item {
            float: left;
            margin-bottom: 10px;
            margin-right: 20px;
            position: relative;
            width: 190px;
            &.odd {
                margin-right: 0;
            }
            img {
                border: 1px solid lighten($base, 10);
                width: 100%;
            }
            .overlay {
                bottom: 6px;
            }
            &:hover, &:focus {
                .overlay {
                    display: block;
                }
            }
        }
    }
    
    .side-product-slides {
        float: left;
        .item {
            float: left;
            margin-bottom: 20px;
            margin-right: 20px;
            position: relative;
            width: 190px;
            &.odd {
                margin-right: 0;
            }
        }
    }
}
