.top-menu {
    display: none;
    
    @include breakpoint(lg_tablet tablet mobile nav) {
        background-color: $base;
        display: block;
    }
    
    @include breakpoint(lg_tablet tablet) {
        height: 60px;
        padding: 15px 20px;
        a {
            float:left;
            height: 100%;
            width: 7%;
        }
        .army-top-banner {
            height: 100%;
            @include yep('svg') {
                background-image: url($bday_logo_no_ribbon_svg);
                background-repeat: no-repeat;
            }
            @include nope('svg') {
                background-image: url($bday_logo_no_ribbon_png);
                width: 366px;
            }
            @include yep('backgroundsize') {
                background-size: contain;
                background-position: left center;
            }
        }
    }
    @include breakpoint(nav mobile) {
        height: 60px;
        left: 0;
        padding: 15px 20px;
        position: relative;
        right: 0;
        top: 0;
        z-index: 11;
        
        a {
            float:left;
            height: 100%;
            position: relative;
            width: 13%;
            z-index: 13;
        }
        .army-top-banner {
            height: 100%;
            @include yep('svg') {
                background-image: url($bday_logo_no_ribbon_svg);
                background-repeat: no-repeat;
                position: relative;
//                z-index: 12;
            }
            @include nope('svg') {
                background-image: url($bday_logo_no_ribbon_png);
                background-repeat: no-repeat;
                position: relative;
                width: 100%;
//                z-index: 12;
            }
            @include yep('backgroundsize') {
                background-size: contain;
                background-position: left center;
            }
        }
    }
    @include breakpoint(mobile) {
        padding: 10px;
    }
}

.fixed-menu {
    display: none;
    
//    @include breakpoint(nav) {
//        top: 95px;
//    }
//    @include breakpoint(mobile) {
//        top: 75px;
//    }
    
    @include breakpoint(nav mobile) {
        @include span(12);
        @include stripes();
        border-bottom: 1px solid darken($base, 26);
        cursor: pointer;
        display: block;
        position: fixed;
        top: 90px;
        // width: 100%;
        z-index: 11;
        -webkit-backface-visibility: hidden; // android has an issue with fixed position elements
        
        p {
            margin: 0;
            color: $font;
            font-size: 1em;
            padding: 14px 10px;
            text-transform: uppercase;
            
            span {
                @include yep('svg') {
                    background-image: url($arrow_down_svg);
                }
                @include nope('svg') {
                    background-image: url($sprite);
                    background-position: -54px -43px;
                }
                background-repeat: no-repeat;
                display: inline-block;
                height: 12px;
                margin-left: 10px;
                width: 19px;
                
                &.up {
                    @include yep('svg') {
                        background-image: url($arrow_up_svg);
                    }
                    @include nope('svg') {
                        background-image: url($sprite);
                        background-position: -73px -43px;
                    }
                }
            }
        }
        
        &.show {
            display: block;
        }
        &.collapsed {
            display: none;
        }
    }
    @include breakpoint(mobile) {
        top: 80px;
    }
}

.menu-list{
    border-bottom: 1px solid darken($base, 26);
    cursor: pointer;
    display: none;
    position: fixed;
    top: 90px;
    width: 100%;
    z-index: 11;
    
    @include breakpoint(lg_tablet tablet) {
        @include row();
        ul {
            @include stripes();
            display: table;
            font-size: 1.25em;
            margin: 0 auto;
            text-align: center;
            width: 100%;
            li {
                display: table-cell;
                margin: 0;
                padding: 10px 1.5%;
                white-space: nowrap;
                width: 1%; // even spacing going on here.... hack-ish? meh
            
                a {
                    color: $font;
                    text-transform: uppercase;
                }
                
                &:hover, &:focus {
                    background-color: lighten($base, 20);
                }
            }
        }
        &.show {
            display: block;
        }
        &.collapsed {
            display: none;
        }
    }
    
    @include breakpoint(nav mobile) {
        background-color: lighten($base, 20);
        display: block;
        height: 100%;
        top: -2000px;
//        top: 142px;
//        top:146px;
        -webkit-backface-visibility: hidden; // android has an issue with fixed position elements
        ul {
            //width: 100%;
            @include span(12);
            li {
                line-height:1.5em;
            
                a {
                    color: $font;
                    display: block;
                    padding: 14px 10px;
                    text-transform: uppercase;
                }
            }
        }
        
        @include yep('csstransitions') {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -ms-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            z-index: 10;
        }
//        &.vis {
//            top: 147px;
//        }
    }
//    @include breakpoint(mobile) {
//        top: 132px;
//    }
}

