@import 'reset';
@import 'modernizr';
@import 'mixins';
@import 'media_queries';
@import 'spans';
@import 'colors';
@import 'defaults';
@import 'images';
@import 'news';
@import 'messages';
@import 'products';
@import 'side_menu';
@import 'top_menu';
@import 'footer';
@import 'owl';
@import 'lightbox';

body{
    background-color: $background;
    color: $font;
    font-family: Verdana,sans-serif;
    font-size:16px;
    height: 100%;
    line-height: 1.5;
    margin: 0;
}

html::-webkit-scrollbar {
    width: 12px;
}
html::-webkit-scrollbar-track {
    background-color: lighten($base, 20);
    border-left: 1px solid $base;
}
html::-webkit-scrollbar-thumb {
    background-color: lighten($base, 10);
}
html::-webkit-scrollbar-thumb:hover {
    background-color: $base;
}

.header{
    @include span(12);
    width: auto;
    @include breakpoint(nav mobile) {
        padding: 0 10px;
    }
    h2{
        line-height: 1;
        margin: 0 0 25px;
    }
}

@include breakpoint(lg_tablet tablet mobile nav) {
    #intro {
        .header {
            display: none;
        }
    }
}

.container {
    margin: 0 auto;
    max-width: $container;
}

.main {
    background-color: $background;
    // @include span(9);
    float: left;
    height: auto;
    overflow: hidden;
    //padding: 0 1.0806%;
    left: 300px;
    position: absolute;
    right: 0;
    z-index: 11;
    // width: 75.1451%; // 72.9839 + (1.0806 * 2)
    
    @include breakpoint(lg_tablet tablet mobile nav) {
        // @include span(12);
        float: left;
        left: 0;
        margin-top: 50px;
        width: 100%;
        position: inherit;
        overflow: inherit;
    }
    
    @include breakpoint(really_big) {
        right: 460px;
    }
//    @include breakpoint(mobile nav) {
//        margin-top: 0;
//    }
    
    .main-wrap {
        @include row();
    }
    
    .wrap {
        @include span(12);
        //margin: 50px 0;
        padding-bottom: 50px;
        padding-top: 50px;
        
        @include breakpoint(lg_tablet tablet mobile nav) {
            padding-bottom: 30px;
            padding-top: 30px;
        }
        
        // @include breakpoint(mobile nav) {
            // width: auto;
            // padding-bottom: 30px;
            // padding-top: 30px;
            // padding: 30px 10px;
        // }
        
        .outer-container {
            position: relative;
            
            .inner-container {
                height: 0;
                padding-bottom: 56.25%;
                padding-top: 30px;
                iframe, .image {
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
        }
        
        .news-box {
            .inner-container {
                padding-bottom: 67.264%;
            }
        }
        
        
        .desktop-only {
            display: block;
            @include breakpoint(lg_tablet mobile tablet nav) {
                display: none;
                 &.show {
                     display: block;
                 }
            }
        }
        .mobile-tablet {
            display: none;            
            @include breakpoint(lg_tablet mobile tablet nav) {
                display: block;
                
                &.collapsed {
                    display: none;
                }
            }
        }
        .nav-tablet {
            display: block;
            @include breakpoint (mobile) {
                display: none;
            }
        }
        .tablet-plus {
            display: block;
            @include breakpoint(mobile nav) {
                display: none;
            }
        }
        .mobile-nav {
            display: none;
            @include breakpoint(mobile nav) {
                display: block;
            }
        }
        .mobile-desktop.visible {
            display: block;
            @include breakpoint(lg_tablet tablet nav) {
                display: none;
            }
        }
        .mobile-only {
            display: none;
            @include breakpoint(mobile) {
                display: block;
            }
        }
        
        &.army-profession, .top-stories {
            .mobile-tablet {
                background-color: lighten($base, 20);
                border-bottom: 1px solid $base;
                border-top: 1px solid $base;
                cursor: pointer;
                padding: 10px 15px;
                
                p {
                    margin: 0;
                    text-transform: uppercase;
                    
//                    span {
//                        background-image: url($sprite);
//                        background-position: -55px -42px;
//                        display: block;
//                        height: 12px;
//                        width: 18px;
//                    }
                }
                
                &:hover, &:focus {
                    background-color: $base;
                    color: lighten($base, 20);
                }
            }
            
            @include breakpoint(nav mobile) {
                .related-list ul {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    @include breakpoint(really_big) {
        .news-section {
            border-bottom: 1px solid lighten($base, 10);
            border-top: 1px solid lighten($base, 10);
        }
    }
    
    .full-width-image.ie {
        overflow:hidden;
        width: 100%;
        img {
            width: 100%;
        }
    }
    
    .full-width-image-container.no-ie {
        clear: both;
        padding: 0 0 38.356%; // not a real standard aspect ratio.. 73:28 (28 / .73 = 38.356)
        position: relative;
        width: 100%;
        
        .full-width-image {
            
            // TODO: lets come back to this... shouldn't we do @include yep('backgroundsize') here???
            
            background-position: center top;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            margin: 0 auto;
            overflow: hidden;
            position: absolute;
            width: 100%;
            
            &#revolutionary-war {
                background-image: url($revolutionary_war);
            }
        }
    }
    
    .inner-wrap {
        @include span(8);
        @include breakpoint(lg_tablet tablet) {
            @include span(7);
        }
        @include breakpoint(nav) {
            padding: 0 10px;
            width: 97%;
        }
        @include breakpoint(mobile) {
            padding: 0 10px;
            width: 95%;
        }
        
        h2{
            margin: 25px 0;
        }
        a:hover,a:focus {
            text-decoration: underline;
        }
    }
    
    .inner-wrap-right {
        @include span(4);
        @include breakpoint(lg_tablet tablet) {
            @include span(5);
        }
        // nav and mobile used to be span(12)
        @include breakpoint(nav) {
            margin-top: 25px;
            padding: 0 10px;
            width: 97%;
            &.last {
                display: none;
            }
        }
        @include breakpoint(mobile) {
            margin-top: 25px;
            padding: 0 10px;
            width: 95%;
            &.last {
                display: none;
            }
        }
        .quiz {
            background-color: $yellow;
            border: 1px solid $dark_yellow;
            cursor: pointer;
            margin-left: 10px;
            @include breakpoint(nav mobile) {
                margin-left: 0;
            }
            
            .quiz-img {
                @include yep('svg') {
                    background-image: url($quiz_svg);
                    @include breakpoint(nav mobile) {
                        background-image: url($quiz_mobile_svg);
                    }
                }
                @include nope('svg') {
                    background-image: url($quiz_png);
                    @include breakpoint(nav mobile) {
                        background-image: url($quiz_mobile_png);
                    }
                }
                @include yep('backgroundsize') {
                    background-size: contain;
                }
                background-repeat: no-repeat;
                height: 0;
                margin: 10px auto;
                padding-top: 34%;
                width: 96%;
                @include breakpoint(nav mobile) {
                    padding-top: 15%;
                }
            }
            .fallback-quiz-img {
                margin: 10px;
                img {
                    width: 100%;
                }
            }
        
            p {
                margin: 0;
                padding: 0 10px 10px;
            
                &.do-quiz {
                    float: left;
                    line-height: 1.25;
                }
            }
        }
        .related-list {
            margin-left: 10px;
            h3 {
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 5px;
                text-transform: none;
            }
            ul {
                font-size: .938em;
                margin-bottom: 25px;
                margin-left: 16px;
                
                li {
                    list-style: outside;
                    margin-bottom: 5px;
                    
                    a:hover,a:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    
//    #slides, #products {
//        .owl-item {
//            max-height: 220px;
//            max-width: 220px;
//            @include breakpoint(lg_tablet tablet nav mobile) {
//                max-height: 200px;
//                max-width: 200px;
//            }
//        }
//    }
    
    #slides, #products .owl-carousel {
        float: left;
        padding: 0 30px;
        width: 92%;
        @include breakpoint(large) {
            width: 93%;
        }
        @include breakpoint(lg_tablet tablet nav mobile) {
            padding: 0;
            width: 100%;
        }
    }
    
    .slides-container {
        border-bottom: 1px solid lighten($base, 10);
        border-top: 1px solid lighten($base, 10);
        padding-bottom: 30px;
        padding-top: 30px;
        @include span(12);
        @include stripes();
        
        @include breakpoint(really_big) {
            display: none;
        }
        
        /*#slides {
            //@include span(12);
            float:left;
            padding-left:30px;
            padding-right:30px;
            width: 93.651%;
            
            @include breakpoint(tablet mobile) {
                width: 86.651%;
            }
        }*/
        
        #slides {
            @include breakpoint(lg_tablet tablet nav mobile) {
                @include span(12);
            }
//            @include breakpoint(nav) {
//                padding: 0 10px;
//                width: 97%;
//            }
//            @include breakpoint(mobile) {
//                padding: 0 10px;
//                width: 95%;
//            }
            //margin: 0 20px;
            .item {
                //border: 1px solid $base;
                margin-bottom: -7px;
                margin-right: 5px;
                position: relative;
                text-align: center;
                
                img {
                    border: 1px solid lighten($base, 10);
                    //max-height: 100%;
                    //max-width: 100%;
                    display: block;
                    height: auto;
                    width: 100%;
                }
                
                &:hover, &:focus {
                    .overlay {
                        display: block;
                    }
                }
            }
        }
    }
    
    @include breakpoint(lg_tablet tablet nav mobile) {
        #products, .slides-container {
            @include span(12);
            //padding: 30px 10px;
        }
    }
}

.overlay {
    @include yep('svg') {
        background-image: url($magnify_glass_svg);
        background-position: center center;
    }
    @include nope('svg') {
        background-image: url($sprite);
        background-position: -72px 8px;
        bottom: 5px;
        display: block;
        height: 32px;
        left: auto;
        right: -1px;
        top: auto;
        width: 32px;
    }
    @include yep('rgba') {
        background-color: transparentize(darken($base, 10), 0.3);
    }
    @include nope('rgba') {
        background-color: darken($base, 10);
    }
    background-repeat: no-repeat;
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: -1px;
    top: 0;
    
    @include breakpoint(lg_tablet tablet mobile nav) {
        @include yep('svg') {
            background-image: url($sm_magnify_glass_svg);
            background-position: center center;
        }
        @include nope('svg') {
            background-image: url($sprite);
            background-position: -72px 8px;
        }
        @include yep('rgba') {
            background-color: transparentize(darken($base, 10), 0.3);
        }
        @include nope('rgba') {
            background-color: darken($base, 10);
        }
        
        bottom: 7px;
        display: block;
        height: 32px;
        left: auto;
        right: -1px;
        top: auto;
        width: 32px;
    }
}